body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;
}
h1{ 
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.name-color{
    color: orange;
}
.link-color{
    text-decoration: none;
   color: white;
   background-image: linear-gradient( orange, tomato);
   padding: 10px 40px;
   border-radius: 5px;
}
.section-aling{
    display: flex;
    margin-bottom: 100px;
   
}
.div-class{ width: 50%;
    padding-left: 5%;  
    
}
.div-class img{
    width: 80%;
    padding-left: 6%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.background-img{ 
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat; 
    
    
   
}
.expo-border{
    margin: 1px 50px 80px 80px;
    box-shadow: 10px 2px 40px 10px gray;
 
}

#expo-side-border{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 50;
}
#expo-side-border1{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 50;
}

footer{
    text-align: center;
}

