body{
    font-family: 'Poppins', sans-serif;
}
.name-color{
    color: orange;
}
.link-color{
    text-decoration: none;
   color: white;
   background-image: linear-gradient( orange, tomato);
   padding: 10px 40px;
   border-radius: 5px;
}